.navbar{
  padding:2%;
  margin-top: 2%;
  background-color:black;
  font-size:xx-large;
  color: white;
}
.search{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.card{
  padding: 2%;
  margin-top:2%;
  margin-left: 40%;
}